[Unit]
Description=Radxa Web Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/radxa/www/server.py
WorkingDirectory=/home/radxa/www
Restart=always
RestartSec=5
Environment=PORT=4000
Environment=WOL_MAC=10:7c:61:47:07:d9
Environment=WOL_BROADCAST=192.168.178.255
Environment=WOL_PORT=9

[Install]
WantedBy=default.target
